.navbar {
  z-index: -5;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 5rem;
  -webkit-transition: width 200ms ease, background-color 1s;
  transition: width 200ms ease, background-color 1s;
}

.navbar .navbar-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-item {
  width: 100%;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
  position: relative;
}

.navbar .nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: var(--text-primary);
  -webkit-filter: grayscale(100%) opacity(0.5);
          filter: grayscale(100%) opacity(0.5);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.navbar .nav-link i {
  min-width: 2rem;
  font-size: 1.9rem;
  margin: 0 1.4rem;
  color: #ff7eee;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.navbar .nav-link img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.navbar .link-text {
  display: none;
  margin-left: 1rem;
}

.navbar .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  letter-spacing: 0.3ch;
  width: 100%;
}

.navbar .logo i {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  color: lightblue;
  -webkit-transition: -webkit-transform var(--transition-speed);
  transition: -webkit-transform var(--transition-speed);
  transition: transform var(--transition-speed);
  transition: transform var(--transition-speed), -webkit-transform var(--transition-speed);
  margin-right: 1.4rem;
}

.navbar .logo .link-text {
  width: 100%;
  opacity: 0;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.logo-img {
  width: 50px;
  height: 50px;
  color: white;
}

.link-cart {
  position: absolute;
  top: 5px;
  left: 50px;
}

.navbar:hover {
  width: 17rem;
}

.nav-item:before {
  opacity: 0;
  pointer-events: none;
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 90%;
  background: #ff7eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
  -webkit-filter: grayscale(100%) opacity(1);
          filter: grayscale(100%) opacity(1);
}

.navbar .nav-item:hover:before {
  height: 100%;
  -webkit-filter: grayscale(0) opacity(1);
          filter: grayscale(0) opacity(1);
}

.navbar:hover .nav-item:before {
  opacity: 1;
  pointer-events: visible;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link:hover {
  -webkit-filter: grayscale(0) opacity(1);
          filter: grayscale(0) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.navbar:hover .link-text {
  display: inline;
  -webkit-transition: opacity var(--transition-speed);
  transition: opacity var(--transition-speed);
}

.navbar:hover .logo i {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}

.navbar:hover .logo .link-text {
  opacity: 1;
}

.navbar:hover .nav-item {
  border-bottom: 1px solid #6d6d6d;
}
/*# sourceMappingURL=navbar.css.map */